body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
  }

  #message-container {
    border: 3px solid black;
    flex-grow: 1;
    overflow-y: auto;
    box-shadow: 6px 5px 10px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    margin: 10px 2px 2px 2px;
    text-align: center;
  }

  div {
    font-family: 'Times New Roman';
    font-size: 20px;
  }
  .message {
    color: rgba(0, 0, 0, 1);
    border-bottom: 2px rgb(56, 45, 45) solid;
    margin: auto;
  }